<link rel="stylesheet" href="/static/style.css" type="text/css">

<form action="/sendText" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Change Text</h1>
				<h6>Please keep down to around 3 lines</h6>
			</div>

			<div class="login-form">
				<div class="control-group">
				<textarea rows="6" cols="50" maxlength="150" class="text-field" name="managerCornerText"></textarea>
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

                <input type="submit" value="Submit" class="btn btn-primary btn-large btn-block" >
			    <br>
			</div>
		</div>
	</div>
</form>
